<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1 class="display-4"><b>Welcome to <%= title %> page</b></h1>
  </div>
  </div>
</main>

<% if (title=="Home") { %>
    <%- include partials/home.ejs %> 
    <% } %>

<% if (title=="About Me") { %>
    <%- include partials/aboutme.ejs %> 
    <% } %>

<% if (title=="Projects") { %>
    <%- include partials/projects.ejs %> 
    <% } %>

<% if (title=="Contact Me") { %>
    <%- include partials/contactme.ejs %> 
    <% } %>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>